/* Estilos generales */
.section {
    margin-bottom: 3rem;
    display: none;
    text-align: center;
}

.section video {
    display: block;
    margin: 0 auto;
}

.section p {
    margin-top: 10px;
    text-align: center;
    margin: 0 15%;
}

.section-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.title {
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
    margin-top: 10px;
    text-align: center;
}

.title:hover {
    color: #007BFF;
    background-color: #333;
}

.title:after {
    content: " ▼";
    font-size: 0.8em;
}

.videosMirada {
    width: 100%;
    height: auto;
}

.categorias {
    color: #333;
    text-align: center;
    font-weight: bolder;
}

/* Estilos para las secciones */
.fila {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 3rem; */
    margin-bottom: 0rem;
}

.fila img {
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .section p {
        margin: 0 10%;
    }

    .title {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .section p {
        margin: 0 5%;
    }

    .title {
        font-size: 1em;
    }

    .categorias {
        font-size: 1.1em;
    }
    .col-md-6 a {
        text-wrap: wrap;
        margin-left: 1rem;
        margin-right: 0rem;
    }
}

/* Ajustes específicos para pantallas pequeñas */
@media (max-width: 992px) {
    .fila {
        flex-direction: column;
    }

    .fila .col-md-6 {
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .fila .col-md-6:last-child {
        margin-bottom: 0;
    }
}
