.navbar {
    background-color: #111; /* Color rosa claro */
    font-size: 22px; /* Tamaño de fuente */
    padding: 25px 0; /* Ajuste de padding para espaciado interno */
    height: 10rem; /* Altura del navbar */
    color: white;
}
.navbar-brand, .nav-link {
    color: #ffffff !important;
}

.navbar-toggler-icon {
    background-color: rgb(213, 202, 202); /* Cambia el color aquí */
    border-radius: 5px; /* Opcional: redondea los bordes */
    width: 30px; /* Ajusta el ancho del icono */
    height: 3px; /* Ajusta el grosor de las líneas */
    display: block;
    position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: "";
    display: block;
    background-color: rgb(209, 196, 196); /* Cambia también el color aquí */
    width: 30px;
    height: 3px;
    position: absolute;
    left: 0;
}

.navbar-toggler-icon::before {
    top: -10px;
}

.navbar-toggler-icon::after {
    top: 10px;
}
.navbar-brand img {
    width: 150px;  /* Ajusta el ancho del logo */
    height: 150px; /* Ajusta la altura del logo */
    margin: 1rem;
    margin-left: 2rem;
}

.nav-link {
    color: #ffffff;
}

.centrar {
    text-align: center;
}

body {
    background-color: #f0f3e6;
}
.titulo {
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 40PX;
    font-weight: bolder;
}
.lista-videos {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    text-align: center; /* Mantiene la alineación del texto a la izquierda dentro de la lista */
    padding-top: 1%;
    
}
.lista-videos li {
    margin: 10px 0;
    padding-bottom: 5%;
}
.lista-videos a {
    text-decoration: none;
    color: #171718;
}
.lista-videos a:hover {
    text-decoration: underline;
    font-weight: bolder;
}


.navbar-brand, .navbar-nav .nav-link {
    color: #fff; /* Color de texto para la marca y enlaces */
}

.navbar-nav {
    width: 100%; /* Ocupa todo el ancho disponible */
    display: flex;
    justify-content: space-between; /* Distribuye los elementos uniformemente */
}

.navbar-nav .nav-item {
    flex: 1; /* Hace que los elementos ocupen el espacio disponible */
    text-align: center; /* Centra el texto dentro de los elementos */
}

.navbar-nav .nav-item a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

.navbar-nav .nav-item:hover{
    background-color: #045e53;
}

/* Estilos para el submenú */
.nav-item.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #111;
    border: none;
    padding: 0;
    margin: 0;
    width: 200px; /* Ajusta el ancho del submenú */
}

.dropdown-item {
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #045e53;
}

/* Mostrar el submenú al pasar el cursor */
.nav-item:hover .dropdown-menu {
    display: block;
}

/* Asegúrate de que el contenedor ocupe el espacio necesario */
.background {
    position: relative;
    width: 100%;
    min-height: 100vh; /* Asegura que el contenedor tenga al menos la altura de la ventana */
}
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
}

.contenido {
    position: relative;
    z-index: 1;
    padding: 10px;
    /* min-height: 100vh; Asegúrate de que el contenido no se corte */
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    background-color: #e6ece8;
    border-radius: 50%; /* Redondea el botón */
    width: 60px; /* Ajusta el ancho del botón */
    height: 60px; /* Ajusta la altura del botón */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar un efecto elevado */
}


.whatsapp-logo {
    width: 65px; /* Ajusta el ancho del logo */
    height: 65px; /* Ajusta la altura del logo */
}




body {
    font-family: 'Lora', serif; /* Fuente para el cuerpo del texto */
    /* padding: 20px; */
}
h1{
    color: rgb(232, 232, 236);
    border: #000000;
}
.support-us {
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif; /* Fuente para títulos */
}
.hero-section {
    margin:0rem;
    padding: 1rem;

}

.hero-section {
    position: relative;
    text-align: center;
    color: rgb(41, 36, 36);
    overflow: hidden; /* Ensure video doesn't overflow */
    height: 100vh; /* Full viewport height */
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1; /* Ensure video is behind text */
}


.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-donate {
    background-color: #4285f4; /* Color azul */
    border: none;
    color: white;
}
.btn-donate:hover {
    background-color: #357ae8;
}
.section {
    margin: 0;
}
.section img {
    width: 100%;
    height: auto;
}


.col-md-6 {
    padding: 0rem 0rem;
}

.quienes-somos {
    background-color: #a3c4c2; /* Color azul claro */
    color: #000000; /* Color del texto negro (opcional) */
    padding: 20px; /* Espaciado interno para que el contenido no quede pegado a los bordes */
}
.mision {
    background-color: #D6EAF8; /* Color azul claro */
    color: #000000; /* Color del texto negro (opcional) */
    padding: 0px; /* Espaciado interno para que el contenido no quede pegado a los bordes */
    margin: 0rem;
    padding: 0px;
    border: 0rem;

}
.vision{
    background-color: #D6EAF8; /* Color azul claro */
    color: #000000; /* Color del texto negro (opcional) */
    padding: 0px 20px; /* Espaciado interno para que el contenido no quede pegado a los bordes */
}

.espectro-autista-info{
    background-color: #D6EAF8; /* Color azul claro */
    color: #000000; /* Color del texto negro (opcional) */
    padding: 20px; /* Espaciado interno para que el contenido no quede pegado a los bordes */
}
/* colores:
#ac00a7
#c014ba
#d527cd
#e93be0
#fd4ef3 */



/* codigo de bootstrap: */
.contenedor-fluido {
    width: 100%;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 4rem;
    padding-bottom: 4rem;

    margin-right: 0;
    margin-left: 0;
}

.contenedor-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.centrar-texto {
    text-align: center;
}

.my-five {
    margin-top: 0rem;
    margin-bottom: 0rem;
}


.fila {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-top: 0;
    padding-bottom: 0;
}

.seccion {
    padding: 0px; /* Ejemplo de padding, ajusta según tus necesidades */
}

.col-md-6 {
    flex: 0 0 50%; /* Ocupa el 50% del espacio en columnas medianas según Bootstrap */
    max-width: 50%;
}

.display-4 {
    font-size: 3rem; /* Tamaño de fuente grande, ajusta según tus necesidades */
    font-weight: 300; /* Peso de la fuente, ajusta según tus necesidades */
    line-height: 1.2; /* Altura de línea, ajusta según tus necesidades */
}

.lead {
    font-size: 1.25rem; /* Tamaño de fuente para el texto destacado (lead), ajusta según tus necesidades */
    font-weight: 300; /* Peso de la fuente, ajusta según tus necesidades */
    margin: 0rem;
    border: 0rem;
    padding: 1.9rem 9rem;
}





.footer {
    background: #242424;
    color: #fff;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.footer-col {
    flex: 1;
    margin: 15px;
    min-width: 200px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 50px;
    background: #e91e63;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #242424;
    background: #ffffff;
}

.footer-bottom {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}


.countdown-container {
    background: rgb(235, 238, 240);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1rem 1rem 5rem 1rem ;
}

#countdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    color: rgb(15, 15, 15);
}

.time-box {
    text-align: center;
}

.time-box span {
    font-size: 3rem;
    display: block;
    font-weight: bold;
}

.time-box p {
    margin: 0;
    font-size: 1.5rem;
}


.centrar-elementos {
    align-items: center !important;
  }


.letra-titulo {
  font-family: "Abril Fatface", serif;
  font-weight: 300;
  font-style: normal;

}


/* styles para socios */
.body-socios {
    background-color: #1e1e1f;
}

.h1-socios {
    color: #eaf0ef;
    font-weight: bolder;
    padding: 10px;
    display: block;
    font-size: 4rem;
}
.div-h1-socios {

    font-weight: bolder;
    background-color: #27191c;
    text-align: center;
    margin: 4rem;
}



.socios-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 20px; */
    padding: 20px;
    margin-left: 1rem;
    margin-right: 1rem;

}

.socio {
    border-radius: 0px;
    padding: 10px;
    text-align: center;
    width: 400px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 4rem;
    margin-left: 3rem;
    background-color: #2a2a2a;
}

.socio:hover {
    box-shadow: 3px 3px 20px 5px rgba(85, 87, 87, 0.995);
    transform: scale(1.1);
}




.socio-img {
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 40px;
    padding: 10px;

}


.socio-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que llene el contenedor y recorta el exceso */
}


.socio p {
    margin-top: 10px;
    font-size: 2em;
    font-weight: bold;
    color: #fbffffe8;
}

.socios-juntos {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;   /* Centra verticalmente */
    height: 100vh; /* Ajusta la altura según sea necesario */
    margin: 4em;
}
.socios-juntos img {
    max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
    height: auto;    /* Mantiene la proporción de la imagen */
}


/* mobile design */


@media(max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-col {
        margin-bottom: 30px;
    }
    .navbar {
        padding: 10px 0;
        height: auto;
    }

    .navbar-brand img {
        width: 100px;
        height: 100px;
    }

    .nav-link {
        font-size: 18px;
    }

    .seccion {
        display: flex;
        flex-direction: column; /* Coloca la imagen y el texto en columnas */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    .seccion .img-fluid{
        order: -1; /* Mueve la imagen arriba */
        margin-bottom: 10px; /* Añade un margen debajo de la imagen */

    }
    .seccion .text-center{
        order: 1; /* Mueve el texto abajo */
        padding: 5px;
        margin: 0.5rem;
    }
    .lead {
        padding: 0rem;
        margin: 0rem;
        margin-bottom: 0.5rem;
    }
}



@media (max-width: 900px) {
    .socio {
        width: calc(50% - 40px);
        margin: 1rem;
    }
    .socios-container{
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .socios-container{
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .socios-juntos {
        max-width: fit-content;
        padding: 0;
        margin: 0;
        margin-bottom: 3rem;
        height: fit-content;
    }

    .seccion {
        display: flex;
        flex-direction: column; /* Coloca la imagen y el texto en columnas */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    .seccion .img-fluid{
        order: -1; /* Mueve la imagen arriba */
        margin-bottom: 10px; /* Añade un margen debajo de la imagen */

    }
    .seccion .text-center{
        order: 1; /* Mueve el texto abajo */
        padding: 1px;
        margin: 0rem;
    }
    .lead {
        padding: 0rem;
        margin: 0rem;
        margin-bottom: 0rem;
    }
    #quienes-somos {
        margin: 0;
        padding: 0px;
    }

    #quienes-somos p {
        text-align:center;
    }

    #mission {
        margin: 0;
        padding: 0;
        border: 0;
    }
    .col-md-6 {
        /* flex: none; */
        max-width: 900px;
    }
    .img-fluid {
        max-width: 1000px;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .lead{
        padding: 15px 65px 70px 65px;
        
    }

    .letra-titulo{
        padding: 10px 25px 10px 25px;
    }
    body {
        margin:0;
        padding: 0;
        border: 0;
    }

    .hero-section {
        max-width: 900px;

        margin: 0;
        padding: 0;
    }
}

@media (max-width: 600px) {
    .div-h1-socios {
        margin-bottom: 3rem;
    }
    .socio {
        width: calc(100% - 10px);
        margin-left: 0;
        height: calc(50%);

    }
    .socios-container{
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .socios-juntos {
        max-width: fit-content;
        padding: 0;
        margin: 0;
        margin-bottom: 3rem;
        height: fit-content;
    }



    .form-group input,
    .form-group textarea {
        width: calc(100% - 22px);
    }

    .logo-img-png {
        max-width: 600;
        max-height: 275px;
    }

    .navbar-brand img {
        width: 85px;
        height: 85px;
    }

    .navbar-nav .nav-link {
        padding: 10px;
    }

    .logo-img img {
        max-width: 100%;
    }

    .social-section {
        padding: 10px;
    }

    .social-h2 {
        font-size: 20px;
    }

    .social-icons a {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
    }



    /* MODIFICACIONES PARA EL VIEWPORT DE LA PAGINA INICIAL*/
    
    .seccion {
        display: flex;
        flex-direction: column; /* Coloca la imagen y el texto en columnas */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    .seccion .img-fluid{
        order: -1; /* Mueve la imagen arriba */
        margin-bottom: 10px; /* Añade un margen debajo de la imagen */

    }
    .seccion .text-center{
        order: 1; /* Mueve el texto abajo */
        padding: 1px;
        margin: 0rem;
    }
    .lead {
        padding: 0rem;
        margin: 0rem;
        margin-bottom: 0rem;
    }
    #quienes-somos {
        margin: 0;
        padding: 0px;
    }

    #quienes-somos p {
        text-align:center;
    }

    #mission {
        margin: 0;
        padding: 0;
        border: 0;
    }
    .col-md-6 {
        flex: none;
        max-width: 600px;
    }
    .img-fluid {
        max-width: 450px;
        margin: 0;
        padding: 0;
    }

    .lead{
        padding: 15px 65px 70px 65px;
        
    }

    .letra-titulo{
        padding: 10px 25px 10px 25px;
    }
    body {
        margin:0;
        padding: 0;
        border: 0;
    }

    .hero-section {
        max-width: 600px;

        max-height:  400PX;
        margin: 0;
        padding: 0;
    }
}


/* mapa */

.map-container {
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #f3f3f3;
}
.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}






/* Teléfonos pequeños */
@media (max-width: 320px) {
    /* Estilos específicos para dispositivos de hasta 320px de ancho */
}

/* Teléfonos medianos */
@media (max-width: 375px) {
    /* Estilos específicos para dispositivos de hasta 375px de ancho */
}

/* Teléfonos grandes */
@media (max-width: 414px) {
    /* Estilos específicos para dispositivos de hasta 414px de ancho */
}

/* Teléfonos grandes y phablets */
@media (max-width: 600px) {
    /* Estilos específicos para dispositivos de hasta 600px de ancho */
}

/* Tablets pequeñas */
@media (max-width: 768px) {
    /* Estilos específicos para dispositivos de hasta 768px de ancho */
}

/* Tablets grandes en modo vertical */
@media (max-width: 900px) {
    /* Estilos específicos para dispositivos de hasta 900px de ancho */
}

/* Tablets grandes en modo horizontal y pantallas pequeñas de laptop */
@media (max-width: 1024px) {
    /* Estilos específicos para dispositivos de hasta 1024px de ancho */
}

/* Pantallas de laptop y monitores pequeños */
@media (max-width: 1200px) {
    /* Estilos específicos para dispositivos de hasta 1200px de ancho */
}

/* Monitores grandes y pantallas de alta resolución */
@media (max-width: 1400px) {
    /* Estilos específicos para dispositivos de hasta 1400px de ancho */
}
